.container {
	width: 960px; 
	margin: 0 auto;
}
.container .header .logo {
	font-size: 24px;
	color: white;
	display: inline-block;
}
.container .header .input {
	width: 400px;
	display: inline-block;
	margin-left: 57px;
}
.container .header .button {
	margin-left: 15px;
}
.container .content {
	background: white;
	min-height: 280px;
	padding: 15px 25px;
}
.container .content .reocrd {
	border: 1px solid #969696;
	border-left: 5px solid green;
	width: 700px; 
	padding: 10px 30px 10px 10px;
	font-size: 16px;
	position: relative;
	margin-bottom: 10px;
}
.container .content .reocrd.disabled {
	border-left: 5px solid #969696;
	opacity: 0.8;
}
.container .content .reocrd .record-close {
	position: absolute;
	right: 5px; top: 14px;
	cursor: pointer;
}
.container .content .reocrd.disabled .ant-checkbox-inner {
	background: #646464;
	border-color: #646464;
}